/* GlOBAL SETTINGS */
* {
  box-sizing: border-box;
}

.container {
  max-width: 1600px !important;
}

html {
  font-size: 62.5%;
  color: black;
}

a {
  text-decoration: none !important;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: "Suez One", serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.2;
  text-transform: none;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.alert {
  padding: 25px 10px;
  display: block;
  text-align: center;
}

.success-alert {
  background: rgba(144, 238, 144, 0.3) !important;
  border-radius: 10px !important;
}

.error-alert {
  background: rgba(240, 128, 128, 0.3) !important;
  border-radius: 20px !important;
}

/* BOOTSTRAP */

.selectpicker {
  font-size: 15px; /* change this value to the desired font size */
}

/* HEADER */

header {
  background: #162f65;
  width: 100%;
  height: 10%;
  padding: 0 20px;
  display: flex;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

header .header-part {
  display: flex;
  align-items: center;
}

header .flex-logo {
  flex-basis: 15%;
}

header .dreamwork-logo {
  font-size: min(2.4rem, 4vw);
  color: #e8c766;
  font-family: "Suez One", serif;
  word-wrap: nowrap;
}

header .flex-menu {
  flex-basis: 55%;
  padding: 0 4rem;
}

header .flex-menu .nav-menu {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  font-size: 14px;
  color: #f1dda3;
}

header .nav-menu .menu-item {
  padding: 10px 20px;
  text-align: center;
}

header .flex-user .user-name {
  color: #f1dda3;
  font-weight: 400;
  font-size: 1.8rem;
  padding-bottom: 0.4rem;
}

header .flex-user .user-role {
  color: #efd894;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: end;
}

header .flex-user {
  flex-basis: 30%;
  justify-content: end;
  gap: 10px;
  min-width: 25rem;
}

/* Sidebar */
.sidebar {
  height: 100%;
  max-width: 200px;
  background: #eeeee7;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.list-group-item.active {
  background-color: #007bff;
  color: #fff;
}

/* .nav-top {
} */
.nav-bottom {
  position: relative;
  bottom: 0px;
}

.sidebar-nav .nav-item {
  position: relative;
  display: flex;
  gap: 1.6rem;
  padding: 2rem;
  width: 100%;
  flex-wrap: wrap;
}

.sidebar-nav .nav-item .active-indicator {
  background: #e8c766;
  position: absolute;
  height: 100%;
  width: 5px;
  left: 0;
  top: 0;
}

.sidebar-nav .nav-item .icon {
  width: 2.6rem;
}

.sidebar-nav .nav-item .text {
  font-size: 1.8rem;
  color: black;
}

.sidebar-nav .nav-item:hover {
  background: rgba(190, 190, 185, 0.15);
  border-radius: 20px;
}

.sidebar-nav .nav-item:active {
  background: rgba(190, 190, 185, 0.3);
  border-radius: 20px;
  color: black;
}

.sidebar-nav .logout {
  align-self: end;
  justify-self: end;
}

.sidebar-nav .current-project-text {
  flex-basis: 100%;
}

.sidebar-nav .current-project-text p:first-child {
  font-size: 12px;
  padding: 0px;
  margin: 0px;
  color: rgba(0, 0, 0, 0.69);
}

.sidebar-nav .current-project-text p:nth-child(2) {
  font-size: 14px;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  color: black;
}

/*------------------ View content */

.body-flex {
  display: flex;
  height: 90%;
}

.view-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;
  overflow-y: scroll;
  position: relative;
}

/* -----------------Home (Dashboard) */

.invitation-bottom-bar {
  width: 70%;
  height: 70px;
  position: absolute;
  background: #eeeee7;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  bottom: 0px;
  right: 50%;
  transform: translate(50%, 0%);
  display: flex;
  padding: 10px;
}

.invitation-bottom-bar .text-col {
  flex-basis: 90%;
}

.invitation-bottom-bar .code-generation-col {
  flex-basis: 10%;
}

.code-generation-button {
  border: 0px;
  width: 100%;
  height: 100%;
  font-size: 13px;
}

.invitation-modal-window {
  display: none;
}

.invitation-modal-body {
  background: white;
  border-radius: 20px;
  position: relative;
  max-width: 600px;
  width: 100%;
  height: 200px;
  padding: 20px;
}

/* -----------------Project-content */

.projects-col {
  position: relative;
  flex-basis: 12%;
}

.project-info-col {
  flex-basis: 44%;
}

.users-list-col {
  flex-basis: 44%;
}

.projects-header {
  padding: 7px 7px 10px 7px;
  border-bottom: rgba(99, 99, 99, 0.5) solid 2px;
  margin-bottom: 0px;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
  min-height: 350px;
  margin-bottom: 1rem;
}

.project-container .col {
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  padding: 1rem;
  height: 100%;
}

.project-list a {
  font-size: 12px;
  padding: 10px;
  margin-top: 10px;
}

.list-group-items {
  border-radius: 20px;
  border: 1px solid rgba(99, 99, 99, 0.1);
  color: black;
}

.project-list a:hover {
  background: rgba(0, 0, 0, 0.063);
}

.create-new-project-btn {
  width: 80%;
  display: flex;
  padding: 5px 0px;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  border: 0px solid black;
  gap: 5px;
  bottom: 0;
  position: absolute;
}

.create-center {
  display: flex;
  justify-content: center;
}

.create-new-project-btn img {
  width: 23px;
}

.create-new-project-btn h5 {
  margin: 0px;
  font-weight: 300;
  font-size: 14px;
}

.modal-window {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  top: 0px;
  left: 0px;
  z-index: 2;
  justify-content: center;
  align-items: center;
}

.create-new-project-window {
  background: white;
  border-radius: 20px;
  max-width: 1300px;
  width: 90%;
  height: 80%;
  padding: 20px;
  position: relative;
}

.create-new-project-window form {
  height: 100%;
}

.create-new-project-window .flex-container {
  display: flex;
  justify-content: space-between;
}

.create-new-project-window .form-group {
  margin-bottom: 20px;
}

.create-new-project-window .flex-col-left {
  flex-basis: 48%;
}

.create-new-project-window .flex-col-right {
  flex-basis: 48%;
}

.project-modal-window {
  display: none;
}

.close-modal {
  position: absolute;
  top: 0px;
  right: 0px;
  border: 0px solid rgba(255, 255, 255, 0);
  padding: 0px;
  margin: 0px;
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0);
}

.close-modal img {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 26px;
}

.list-group .active {
  border: black 0px solid;
  background-color: var(--tag-3);
}

.project-detail-table {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
}

.project-detail-bigger-container {
  width: 100%;
  margin: 10px;
}

.project-detail-smaller-container {
  width: 45%;
  margin: 10px;
}

.project-detail-table div {
  outline: rgba(0, 0, 0, 0.16);
}

.project-detail-header {
  font-size: 1.5rem;
  font-weight: 500;
}

.attendant-list {
  font-size: 12px;
  color: black;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  list-style-type: none;
}

.attendant-list-group-items {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 5px;
  border-top: 1px solid rgba(99, 99, 99, 0.1);
  position: relative;
}

.attendant-list-item-delete {
  margin-left: 10px;
  padding: 2px 4px;
  background-color: var(--tag-4);
  color: var(--tag-4-text);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  right: 15px;
  height: 80%;
  visibility: hidden;
}

.attendant-list li:hover > .attendant-list-item-delete {
  background: rgba(153, 77, 77, 0.063);
  visibility: visible;
}

/*----------------- Profile content */
.profile-view .row {
  justify-content: center;
}

.user-name {
  font-size: large;
}

.user-role {
  font-size: medium;
  color: rgba(0, 0, 0, 0.5);
}

.password-switch-container {
  margin: 20px 0 5px;
}

.password-switch-container input {
  height: 2em;
  width: 4em !important;
}

.password-switch-container .form-check-label {
  position: relative;
  left: 10px;
  top: 5px;
}

.labels {
  font-size: 11px;
  margin-top: 10px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #efd894;
}

.form-control {
  font-size: 11px;
  font-weight: 400;
  line-height: 2.5;
}

/* -----------------Tasks-content */

.create-task-modal-window {
  display: none;
}

.create-task-modal-body {
  background: white;
  border-radius: 20px;
  max-width: 1300px;
  width: 90%;
  height: 80%;
  padding: 20px;
  position: relative;
}

.create-task-modal-body form {
  height: 100%;
}

.create-task-modal-body .flex-container {
  display: flex;
  justify-content: space-between;
}

.create-task-modal-body .form-group {
  margin-bottom: 20px;
}

.create-task-modal-body .flex-col-left {
  flex-basis: 48%;
}

.create-task-modal-body .flex-col-right {
  flex-basis: 48%;
}

:root {
  --bg: #ffffff;
  --header: #fbf4f6;
  --text: #2e2e2f;
  --white: #ffffff;
  --light-grey: #c4cad3;
  --tag-1: #ceecfd;
  --tag-1-text: #2e87ba;
  --tag-2: #d6ede2;
  --tag-2-text: #13854e;
  --tag-3: #f6fdce;
  --tag-3-text: #baa02d;
  --tag-4: #f5dcdc;
  --tag-4-text: #ba3434;
  --purple: #7784ee;
}

.tasks-header {
  padding: 7px 7px 10px 7px;
  border-bottom: rgba(99, 99, 99, 0.5) solid 2px;
  margin-bottom: 0px;
}
.project-task-btn {
  display: flex;
  justify-content: right;
}

.project-task-btn__add {
  background: transparent;
  border-radius: 20px;
  border: 1px dashed rgb(150, 150, 150);
  font-size: 0;
  cursor: pointer;
  position: relative;
}

.project-task-btn__add:after {
  content: "+";
  font-size: 15px;
  color: rgb(150, 150, 150);
}

.task-card:hover {
  box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
  border-color: rgba(162, 179, 207, 0.2) !important;
}

.task__tag {
  border-radius: 100px;
  padding: 2px 13px;
  font-size: 12px;
}

.task__tag--easy {
  color: var(--tag-2-text);
  background-color: var(--tag-2);
}

.task__tag--medium {
  color: var(--tag-3-text);
  background-color: var(--tag-3);
}

.task__tag--hard {
  color: var(--tag-4-text);
  background-color: var(--tag-4);
}

.task__tags {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task__options {
  background: transparent;
  border: 0;
  color: var(--light-grey);
  font-size: 17px;
}

.task__stats {
  position: relative;
  width: 100%;
  color: var(--light-grey);
  font-size: 12px;
}

#task-container {
  width: 100%;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: row;
  padding: 40px;
  box-sizing: border-box;
  justify-content: space-between;
}

.task-list {
  width: 23%;
  border-radius: 3px;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  padding: 20px;
  box-sizing: border-box;
}

.task-card {
  background-color: #fff;
  padding: 15px;
  font-size: 12px;
  border-radius: 3px;
  margin-bottom: 15px;
  border: none;
  cursor: move;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
}

.task-card.dragging {
  opacity: 0.4;
}

.delete-project-btn img {
  width: 16px;
  height: 16px;
}

/* Performance window  */

.performance-container {
  margin: 2rem;
  padding: 2rem;
  width: 80%;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
}
.performance-top {
  /* display: inline-block; */
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.performance-total {
  font-size: 14pt;
  font-weight: 400;
}

.performance-btn-filter {
  display: inline-block;
  width: 100px;
  padding: 5px 0px;
  justify-content: center;
  align-items: center;
  border: 0px solid black;
  gap: 5px;
}

@media only screen and (max-width: 1300px) {
  .project {
    max-width: 100%;
  }

  .task-details {
    width: 100%;
    display: flex;
  }

  .tag-progress,
  .task-activity {
    flex-basis: 50%;
    background: var(--white);
    padding: 1rem;
    border-radius: 8px;
    margin: 1rem;
  }
}

@media only screen and (max-width: 1000px) {
  .project-column:nth-child(2),
  .project-column:nth-child(3) {
    display: none;
  }

  .project-tasks {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .project-column:nth-child(4) {
    display: none;
  }

  .project-tasks {
    grid-template-columns: 1fr;
  }

  .task-details {
    flex-wrap: wrap;
    padding: 3rem 1rem;
  }

  .tag-progress,
  .task-activity {
    flex-basis: 100%;
  }

  h1 {
    font-size: 25px;
  }
}
